In [1]:
players23 <- read.csv("./fifa23_players_data.csv")
teams23 <- read.csv("./fifa23_teams_data.csv")

In [2]:
relevantCols <- c("Overall", "Value.in.Euro.", "Best.Position", "Height.in.cm.", "Weight.in.kg.", 
                 "Club.Name", "Club.Jersey.Number", "Crossing","Preferred.Foot", "Skill.Moves",
                 "Shot.Power", "Long.Shots", "Finishing")

# assumed cleaned
playersCleaned23 <- subset(players23, select=relevantCols)

head(playersCleaned23); dim(playersCleaned23)

  Overall Value.in.Euro. Best.Position Height.in.cm. Weight.in.kg.
1 91       54000000      CAM           169           67
2 91       64000000      CF            185           81
3 91       84000000      ST            185           81
4 91      107500000      CM            181           70
5 91      190500000      ST            182           73
6 90      115500000      RW            175           71
  Club.Name           Club.Jersey.Number Crossing Preferred.Foot Skill.Moves
1 Paris Saint-Germain 30                 84       Left           4
2 Real Madrid CF      9                  75       Right          4
3 FC Barcelona        9                  71       Right          4
4 Manchester City     17                 94       Right          4
5 Paris Saint-Germain 7                  78       Right          5
6 Liverpool           11                 80       Left           4
  Shot.Power Long.Shots Finishing
1 86         91         90
2 87         80         92
3 91         84         94
4 92         91         85
5 88         82         93
6 83         85         93

[1] 18539    13

In [3]:
teamsCleaned23 <- subset(teams23, select=c("Name", "IntPrestige"))
head(teamsCleaned23)

  Name                   IntPrestige
1 AFC Bournemouth        1
2 AFC Richmond           3
3 Arsenal                7
4 Aston Villa            3
5 Brentford              1
6 Brighton & Hove Albion 2

In [4]:
playersTeamCombined <- merge(playersCleaned23, teamsCleaned23, by.x="Club.Name", by.y="Name", all.x = TRUE)
head(playersTeamCombined); dim(playersTeamCombined)

  Club.Name             Overall Value.in.Euro. Best.Position Height.in.cm.
1 1. FC Heidenheim 1846 68      2400000        RM            175
2 1. FC Heidenheim 1846 67      2100000        CB            186
3 1. FC Heidenheim 1846 68      1000000        CB            178
4 1. FC Heidenheim 1846 71      1800000        RB            182
5 1. FC Heidenheim 1846 67      1900000        CB            187
6 1. FC Heidenheim 1846 67      1100000        LM            176
  Weight.in.kg. Club.Jersey.Number Crossing Preferred.Foot Skill.Moves
1 70            16                 67       Right          3
2 80            27                 42       Right          2
3 73            8                  60       Right          2
4 80            2                  69       Right          2
5 80            4                  48       Left           2
6 72            17                 62       Right          4
  Shot.Power Long.Shots Finishing IntPrestige
1 63         59         57        1
2 61         40         37        1
3 69         53         44        1
4 75         54         40        1
5 45         41         25        1
6 57         52         60        1

[1] 18539    14

# Data Cleaning

Extract and rename col names

In [7]:
# cleaning
relevantCols <- c("Overall", "Value.in.Euro.", "Best.Position", "Height.in.cm.", "Weight.in.kg.", "Club.Jersey.Number", 
                  "Crossing", "Shot.Power", "IntPrestige", "Preferred.Foot", "Skill.Moves", "Long.Shots", "Finishing" )
playersTeamCleaned <- subset(playersTeamCombined, select=relevantCols)
head(playersTeamCleaned); dim(playersTeamCleaned)
# rename
colnames(playersTeamCleaned) <- c("Overall", "Value", "BestPosition", "Height", "Weight", "JerseyNumber", 
                  "Crossing", "ShotPower", "IntPrestige", "PreferredFoot", "SkillMoves","Long.Shots", "Finishing" )
head(playersTeamCleaned)
colSums(is.na(playersTeamCleaned))
# remove int prestige null
playersTeamCleaned <- na.omit(playersTeamCleaned)
colSums(is.na(playersTeamCleaned))
# remove players with no value
playersTeamCleaned <- playersTeamCleaned[playersTeamCleaned$Value != 0, ]
summary(playersTeamCleaned)
dim(playersTeamCleaned)

  Overall Value.in.Euro. Best.Position Height.in.cm. Weight.in.kg.
1 68      2400000        RM            175           70
2 67      2100000        CB            186           80
3 68      1000000        CB            178           73
4 71      1800000        RB            182           80
5 67      1900000        CB            187           80
6 67      1100000        LM            176           72
  Club.Jersey.Number Crossing Shot.Power IntPrestige Preferred.Foot Skill.Moves
1 16                 67       63         1           Right          3
2 27                 42       61         1           Right          2
3 8                  60       69         1           Right          2
4 2                  69       75         1           Right          2
5 4                  48       45         1           Left           2
6 17                 62       57         1           Right          4
  Long.Shots Finishing
1 59         57
2 40         37
3 53         44
4 54         40
5 41         25
6 52         60

[1] 18539    13

  Overall Value   BestPosition Height Weight JerseyNumber Crossing ShotPower
1 68      2400000 RM           175    70     16           67       63
2 67      2100000 CB           186    80     27           42       61
3 68      1000000 CB           178    73     8            60       69
4 71      1800000 RB           182    80     2            69       75
5 67      1900000 CB           187    80     4            48       45
6 67      1100000 LM           176    72     17           62       57
  IntPrestige PreferredFoot SkillMoves Long.Shots Finishing
1 1           Right         3          59         57
2 1           Right         2          40         37
3 1           Right         2          53         44
4 1           Right         2          54         40
5 1           Left          2          41         25
6 1           Right         4          52         60

      Overall         Value  BestPosition        Height        Weight
            0             0             0             0             0
 JerseyNumber      Crossing     ShotPower   IntPrestige PreferredFoot
            0             0             0           120             0
   SkillMoves    Long.Shots     Finishing
            0             0             0

      Overall         Value  BestPosition        Height        Weight
            0             0             0             0             0
 JerseyNumber      Crossing     ShotPower   IntPrestige PreferredFoot
            0             0             0             0             0
   SkillMoves    Long.Shots     Finishing
            0             0             0

    Overall          Value            BestPosition      Height
 Min.   :47.00   Min.   :     9000   CB     :3632   Min.   :155.0
 1st Qu.:62.00   1st Qu.:   500000   ST     :2548   1st Qu.:177.0
 Median :66.00   Median :  1000000   CAM    :2300   Median :182.0
 Mean   :65.83   Mean   :  2894661   GK     :2039   Mean   :181.5
 3rd Qu.:70.00   3rd Qu.:  2000000   RM     :1434   3rd Qu.:186.0
 Max.   :91.00   Max.   :190500000   CDM    :1395   Max.   :206.0
                                     (Other):5059
     Weight        JerseyNumber      Crossing       ShotPower
 Min.   : 49.00   7      :  598   Min.   : 6.00   Min.   :18.00
 1st Qu.: 70.00   8      :  598   1st Qu.:39.00   1st Qu.:48.00
 Median : 75.00   11     :  591   Median :54.00   Median :59.00
 Mean   : 75.17   4      :  586   Mean   :49.48   Mean   :57.81
 3rd Qu.: 80.00   6      :  584   3rd Qu.:63.00   3rd Qu.:68.00
 Max.   :105.00   10     :  578   Max.   :94.00   Max.   :94.00
                  (Other):14872
  IntPrestige     PreferredFoot   SkillMoves      Long.Shots      Finishing
 Min.   : 1.000   Left : 4466   Min.   :1.000   Min.   : 4.00   Min.   : 3.00
 1st Qu.: 1.000   Right:13941   1st Qu.:2.000   1st Qu.:32.00   1st Qu.:31.00
 Median : 1.000                 Median :2.000   Median :51.00   Median :50.00
 Mean   : 2.483                 Mean   :2.366   Mean   :46.82   Mean   :46.25
 3rd Qu.: 4.000                 3rd Qu.:3.000   3rd Qu.:62.00   3rd Qu.:62.00
 Max.   :10.000                 Max.   :5.000   Max.   :91.00   Max.   :94.00

[1] 18407    13

# Skill Moves vs Overall

## Normality Assumption Check

In [9]:
# checking normality for overall 
dim(playersTeamCleaned)

[1] 18407    13

Since sample size > 5000, shapiro wilk test cannot be used here. By using Central Limit Theorem, we can approximate each distribution to be normal.

In [ ]:
# checking normality for each group skill moves 1 - 5

In [10]:
summary(playersTeamCleaned$SkillMoves)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   2.000   2.000   2.366   3.000   5.000

In [11]:
skillMoves1 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 1, 'Overall']
skillMoves2 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 2, 'Overall']
skillMoves3 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 3, 'Overall']
skillMoves4 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 4, 'Overall']
skillMoves5 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 5, 'Overall']
length(skillMoves1); length(skillMoves2); length(skillMoves3); length(skillMoves4); length(skillMoves5);

[1] 2039

[1] 8851

[1] 6311

[1] 1155

[1] 51

In [12]:
skillMoves5 <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == 5, 'Overall']
shapiro.test(skillMoves5); length(skillMoves5)

	Shapiro-Wilk normality test

data:  skillMoves5
W = 0.96312, p-value = 0.1133

[1] 51

Since skillMoves 1- 5 > 30 samples, by CLT they assume to be normal

## Homogeneity of Variance

In [13]:
# F test
group <- c(1, 2, 3, 4, 5)
groupC <- combn(group, 2, simplify=FALSE)

In [35]:
pvalue <- vector()
pair <- vector()
for (i in groupC){
    pos <- unlist(i)
    x <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == pos[1], 'Overall']
    y <- playersTeamCleaned[playersTeamCleaned['SkillMoves'] == pos[2], 'Overall']
    pair <- append(pair, paste(pos[1], pos[2]))
    pvalue <- append(pvalue, round(var.test(x, y)[[3]], 3))
}
variancedf <- data.frame(pair, pvalue)
colnames(variancedf) <- c('SkillRatingPair', 'PValue')
# Select combinations which do not have the same variance
# t(variancedf[variancedf['PValue'] <= 0.05,])
t(variancedf[variancedf['PValue'] >= 0.00,])

                1     2     3     4     5     6     7     8     9     10
SkillRatingPair 1 2   1 3   1 4   1 5   2 3   2 4   2 5   3 4   3 5   4 5
PValue          0.000 0.000 0.000 0.119 0.000 0.041 0.942 0.001 0.198 0.599

In [28]:
t(variancedf)

       [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]  [,10]
pair   1 2   1 3   1 4   1 5   2 3   2 4   2 5   3 4   3 5   4 5
pvalue 0.000 0.000 0.000 0.119 0.000 0.041 0.942 0.001 0.198 0.599

In [23]:
# create a table with row index
my_table <- data.frame(
  skill1 = c("0.000", "0.000", "0.000", "0.119"),
  skill2 = c("-", "0.000", "0.041", "0.942"),
  skill3 =  c("-", "-", "0.001", "0.198"),
  skill4 =  c("-", "-", "-", "0.599"),
  row.names = c("skill2", "skill3", "skill4", "skill5")
)

# view the table
my_table

       skill1 skill2 skill3 skill4
skill2 0.000  -      -      -
skill3 0.000  0.000  -      -
skill4 0.000  0.041  0.001  -
skill5 0.119  0.942  0.198  0.599

In [15]:
var.test(skillMoves3, skillMoves4)

	F test to compare two variances

data:  skillMoves3 and skillMoves4
F = 0.86707, num df = 6310, denom df = 1154, p-value = 0.001318
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.7923226 0.9462656
sample estimates:
ratio of variances
         0.8670749

Assumptions of Anova failed, that is parametric test assumptions have failed, going for non parametric tests

## Conducting Kruskal-Wallis Test

In [24]:
overall <- playersTeamCleaned$Overall
skillMoves <- playersTeamCleaned$SkillMoves

H0: Overall Rating is independent of Skill Moves

H1: Overall Rating is not independent of Skill Moves

In [25]:
kruskal.test(overall, skillMoves)

	Kruskal-Wallis rank sum test

data:  overall and skillMoves
Kruskal-Wallis chi-squared = 3012.1, df = 4, p-value < 2.2e-16

There is enough evidence against the null hypothesis that Overall Rating is independent of skill moves

In [26]:
pairwise.wilcox.test(overall, skillMoves, p.adjust.method='none')

	Pairwise comparisons using Wilcoxon rank sum test

data:  overall and skillMoves

  1       2       3       4
2 0.00028 -       -       -
3 < 2e-16 < 2e-16 -       -
4 < 2e-16 < 2e-16 < 2e-16 -
5 < 2e-16 < 2e-16 < 2e-16 1.8e-10

P value adjustment method: none