In [1]:
players23 <- read.csv("./fifa23_players_data.csv")
teams23 <- read.csv("./fifa23_teams_data.csv")

In [2]:
relevantCols <- c("Known.As", "Overall", "Value.in.Euro.", "Best.Position", "Nationality", "Age", "Height.in.cm.", "Weight.in.kg.", 
                 "TotalStats", "Club.Name", "Wage.in.Euro.", "Release.Clause", "Club.Jersey.Number", "Agility", "Crossing", "Sprint.Speed", "Acceleration")

# assumed cleaned
playersCleaned23 <- subset(players23, select=relevantCols)

head(playersCleaned23); dim(playersCleaned23)

  Known.As       Overall Value.in.Euro. Best.Position Nationality Age
1 L. Messi       91       54000000      CAM           Argentina   35
2 K. Benzema     91       64000000      CF            France      34
3 R. Lewandowski 91       84000000      ST            Poland      33
4 K. De Bruyne   91      107500000      CM            Belgium     31
5 K. MbappÃ©     91      190500000      ST            France      23
6 M. Salah       90      115500000      RW            Egypt       30
  Height.in.cm. Weight.in.kg. TotalStats Club.Name           Wage.in.Euro.
1 169           67            2190       Paris Saint-Germain 195000
2 185           81            2147       Real Madrid CF      450000
3 185           81            2205       FC Barcelona        420000
4 181           70            2303       Manchester City     350000
5 182           73            2177       Paris Saint-Germain 230000
6 175           71            2226       Liverpool           270000
  Release.Clause Club.Jersey.Number Agility Crossing Sprint.Speed Acceleration
1  99900000      30                 91      84       76           87
2 131199999      9                  78      75       80           79
3 172200000      9                  77      71       75           76
4 198900000      17                 76      94       73           76
5 366700000      7                  93      78       97           97
6 213700000      11                 90      80       91           89

[1] 18539    17

In [3]:
teamsCleaned23 <- subset(teams23, select=c("Name", "League", "LeagueId", "Overall", "IntPrestige", "DomesticPrestige"))
head(teamsCleaned23)

  Name                   League                     LeagueId Overall
1 AFC Bournemouth        English Premier League (1) 13       74
2 AFC Richmond           English Premier League (1) 13       78
3 Arsenal                English Premier League (1) 13       80
4 Aston Villa            English Premier League (1) 13       79
5 Brentford              English Premier League (1) 13       75
6 Brighton & Hove Albion English Premier League (1) 13       76
  IntPrestige DomesticPrestige
1 1           2
2 3           5
3 7           7
4 3           5
5 1           1
6 2           3

In [4]:
playersTeamCombined <- merge(playersCleaned23, teamsCleaned23, by.x="Club.Name", by.y="Name", all.x = TRUE)
head(playersTeamCombined); dim(playersTeamCombined)

  Club.Name             Known.As      Overall.x Value.in.Euro. Best.Position
1 1. FC Heidenheim 1846 K. Sessa      68        2400000        RM
2 1. FC Heidenheim 1846 T. Keller     67        2100000        CB
3 1. FC Heidenheim 1846 A. Geipl      68        1000000        CB
4 1. FC Heidenheim 1846 M. Busch      71        1800000        RB
5 1. FC Heidenheim 1846 T. Siersleben 67        1900000        CB
6 1. FC Heidenheim 1846 F. Pick       67        1100000        LM
  Nationality Age Height.in.cm. Weight.in.kg. TotalStats ... Club.Jersey.Number
1 Germany     21  175           70            1893       ... 16
2 Germany     22  186           80            1636       ... 27
3 Germany     30  178           73            1809       ... 8
4 Germany     27  182           80            1819       ... 2
5 Germany     22  187           80            1525       ... 4
6 Germany     26  176           72            1638       ... 17
  Agility Crossing Sprint.Speed Acceleration League                   LeagueId
1 85      67       84           85           German 2. Bundesliga (2) 20
2 59      42       61           65           German 2. Bundesliga (2) 20
3 73      60       55           71           German 2. Bundesliga (2) 20
4 72      69       93           83           German 2. Bundesliga (2) 20
5 55      48       63           59           German 2. Bundesliga (2) 20
6 83      62       80           88           German 2. Bundesliga (2) 20
  Overall.y IntPrestige DomesticPrestige
1 68        1           6
2 68        1           6
3 68        1           6
4 68        1           6
5 68        1           6
6 68        1           6

[1] 18539    22

In [5]:
playerPrestige <- subset(playersTeamCombined, select=c("Value.in.Euro.", "Wage.in.Euro.", "IntPrestige", "DomesticPrestige", "LeagueId", "League", "Club.Name"))
# filter to only intPrestige == 6 and intPrestige == 10
tier1And2Clubs <- playerPrestige[(playerPrestige$IntPrestige == 9) | (playerPrestige$IntPrestige == 10), ]
head(tier1And2Clubs); dim(tier1And2Clubs)

     Value.in.Euro. Wage.in.Euro. IntPrestige DomesticPrestige LeagueId
1897 24000000       58000         9           9                53
1898  8500000       51000         9           9                53
1899  1500000        8000         9           9                53
1900  1400000         950         9           9                53
1901 42500000       80000         9           9                53
1902 21000000       66000         9           9                53
     League                     Club.Name
1897 Spain Primera Division (1) AtlÃ©tico de Madrid
1898 Spain Primera Division (1) AtlÃ©tico de Madrid
1899 Spain Primera Division (1) AtlÃ©tico de Madrid
1900 Spain Primera Division (1) AtlÃ©tico de Madrid
1901 Spain Primera Division (1) AtlÃ©tico de Madrid
1902 Spain Primera Division (1) AtlÃ©tico de Madrid

[1] 416   7

In [6]:
summary(tier1And2Clubs$IntPrestige)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  9.000   9.000   9.000   9.392  10.000  10.000     120

In [7]:
var.test(tier1And2Clubs$Value.in.Euro. ~ tier1And2Clubs$IntPrestige)

	F test to compare two variances

data:  tier1And2Clubs$Value.in.Euro. by tier1And2Clubs$IntPrestige
F = 0.66245, num df = 179, denom df = 115, p-value = 0.0134
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.4721045 0.9182839
sample estimates:
ratio of variances
          0.662453

In [8]:
t.test(tier1And2Clubs$Value.in.Euro. ~ tier1And2Clubs$IntPrestige, var.equal=T)

	Two Sample t-test

data:  tier1And2Clubs$Value.in.Euro. by tier1And2Clubs$IntPrestige
t = -4.0865, df = 294, p-value = 5.654e-05
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -22460028  -7858621
sample estimates:
 mean in group 9 mean in group 10
        21562917         36722241

Value and wage of a player depends on the prestige level of his club. From the results, a tier 1 club player are more valuable than that of a tier 2 club